* {
	box-sizing: border-box;
}
body {
	font-family: Montserrat, Roboto, sans-serif;
	background: linear-gradient(to bottom, #FFC6D9, #FFE1C6);
}
h1 {
	text-align: center;
	margin: 50px;
}
.link-nav {
	padding: 10px;
	margin: 10px;
	font-weight: 900;
	text-align: center;
	color: #48284A;
	background: #FFF7AE;
	border: 1px solid #48284A;
	border-radius: 25px;
	display: block;
}
.link-nav:link, .link-nav:visited  {
	text-decoration: none;
	
}
.link-nav:hover, .link-nav:active {
	text-decoration: none;
	color: #FFC300;
	background: #48284A;
}
#block {
	height: 500px;
	text-align: center;
}