* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	background: #8963BA;
	background-image: url('../acher.svg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top right;
	color: #FFFFFF;
	text-transform: uppercase;

}
.brand {
	text-decoration: none;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 17.7px;
	line-height: 20px;
}
.logo {
	float: left;
}
.asd {
	margin: 1em;
}
.name {
	margin-top: 1em;
	margin-left: 6em;
}
.icons {
	text-align: right;
	position: absolute;
	top: 1em;
	right: 1em;
}
.icon {
	margin-left: 1em;
}
h1	{
	position: absolute;
	width: 1115.24px;
	height: 384.89px;
	left: 105.78px;
	top: 262.22px;


	font-style: normal;
	font-weight: bold;
	font-size: 311.111px;
	line-height: 365px;
	text-transform: none;

}
.div-1 {
	position: absolute;
	left: 113.78px;
	top: 286.22px;

	font-style: normal;
	font-weight: bold;
	font-size: 17.7778px;
	line-height: 21px;
	text-transform: none;
}
.div-2 {
	position: absolute;
	left: 113.78px;
	top: 306.67px;

	font-style: normal;
	font-weight: bold;
	font-size: 44.4444px;
	line-height: 52px;
	text-transform: none;
}
.button {
	display: flex;
	flex-direction: column;
	padding: 32px;
	position: absolute;
	width: 200px;
	height: 85px;
	left: 115.56px;
	top: 648.89px;
	text-align: center;
	background: #688B58;
	border-radius: 0.5em;
}
.butt-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	/* identical to box height */
	margin: 0px 8.88889px;
}
.bg-1 {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
}

.about {
	position: absolute;
	width: 741.33px;
	height: 373.33px;
	left: 164px;
	top: 1026.67px;
	background: #54428E;
	border-radius: 7px;
	border-top: 1em solid rgba(104, 139, 88, 1);
}
.h2-1 {
	margin: 3em 6em;

	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
}
.ab-text {
	width: 521px;
	margin: 0 6em;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	text-transform: none;
}

.events {
	width: 100%;
	height: 1111.11px;
	margin-top: 6em;
	background: #54428E;
	position: absolute;
	left: 0px;
	top: 1400px;
}
.evnt-all {
	text-align: center;
}
.h2-2 {
	margin: 3em 6em;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
}
.evnt-1 {
	position: relative;
	width: 350px;
	height: 400px;
	margin-right: 0;
	margin-left: 0;
	border-top: 1em solid rgba(104, 139, 88, 1);
	background: #8963BA;
	display:inline-block;

}
.evnt-2 {
	position: relative;
	width: 350px;
	height: 457px;
	padding-top: 28.5px;
	margin-right: 0;
	margin-left: 0;
	/*border: 0.1em solid rgba(84, 66, 142, 1);*/
	border-top: 1em solid rgba(104, 139, 88, 1);
	background: #8963BA;
	/*box-shadow: 3.55556px 0px 3.55556px rgba(0, 0, 0, 0.25), -3.55556px 0px 3.55556px rgba(0, 0, 0, 0.25);*/
	display:inline-block;
}
.evnt-3 {
	position: relative;
	width: 350px;
	height: 400px;
	margin-right: 0;
	margin-left: 0;
	border-top: 1em solid rgba(104, 139, 88, 1);
	background: #8963BA;

	display:inline-block;

}
h3 {
	margin: 1em;
	font-style: normal;
	font-weight: bold;
	font-size: 17.7778px;
	line-height: 21px;

	text-align: center;
}
.evnt-txt {
	position: absolute;
	width: 210px;
	left: 30px;
	top: 100px;
	font-weight: bold;
	font-size: 21.3333px;
	line-height: 25px;
}
.evnt-2-img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.animal {
	position: absolute;
	left: 30px;
	top: calc(100% - 200px/2);
	background: #54428E;
	width: 200px;
	height: 60px;
	padding: 17px 0;
	text-align: center;
	font-weight: bold;
}


